* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  background: linear-gradient(
    to bottom,
    hsl(200, 84%, 80%),
    hsl(284, 79%, 82%)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
  /* justify-content: center; */
  height: 100vh;
  /* position: relative; */
  /* object-fit: fill; */
  overflow-y: auto;
}

.title {
  /* text-transform: uppercase; */
  font-size: 2rem;
  letter-spacing: 0;
  font-family: "petit formal script", serif;
  font-weight: 400;
  padding: 1rem;
  width: 100vw;
  text-align: center;

  color: hsl(0, 0%, 0%);
  background: linear-gradient(
    to right,
    rgba(254, 254, 254, 0.642),
    rgb(254, 254, 254, 0.642)
  );
}
.weatherForm {
  margin-top: 1.1rem;
}
.cityInput {
  /* text-transform: uppercase; */
  text-align: left;
  opacity: 0.8;
  /* margin: 0.5rem; */
  width: 10rem;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid hsla(0, 0%, 20%, 0.273);
  border-radius: 0.5rem;
}
.weatherForm button {
  font-size: 1rem;
  background-color: hsl(0, 0, 100, 95%);
  border: 1px solid hsl(0, 0, 100, 95%);
}
button[type="submit"] {
  text-transform: uppercase;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  border: 2px solid hsla(0, 0%, 20%, 0.273);
  border-radius: 0.5rem;
  margin: 0.5rem;
  /* width: 16.5rem; */
  background-color: hsla(146, 100%, 64%, 0.95);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button[type="submit"]:hover {
  background-color: hsla(0, 0%, 100%, 0.95);
}
.card {
  width: 25%;
  background: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 90%));
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  opacity: 0.8;
  box-shadow: 0 0 0.5rem hsla(0, 0%, 20%, 0.5);
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* filter: blur(2px); */
}
h1 {
  font-weight: 400;
  margin: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
}
p {
  margin-top: 0;
  margin-bottom: 0.2rem 0;
  font-size: 1rem;
}
.cityDisplay,
.tempDisplay {
  font-size: 2rem;
  font-weight: 400;
  color: hsla(0, 0%, 20%, 0.75);
  margin-bottom: 0.2rem;
}

.humidityDisplay {
  font-weight: 400;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 20%, 0.75);
}
.descDisplay {
  font-weight: thin;
  margin-bottom: 0.2rem;
  color: hsla(0, 0%, 20%, 0.75);
}
.weatherEmoji {
  font-size: 3rem;
  margin-bottom: 0.2rem;
  color: hsla(0, 0%, 20%, 0.75);
}
.weatherEmoji {
  margin: 0;
  font-size: 5rem;
}
.errorDisplay {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsla(0, 0%, 20%, 0.75);
}
.forecast {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.forecast div {
  padding: 1rem;
  max-width: 10rem;
  border-radius: 1rem;
  width: 100%;
  height: auto;
  background-color: #ddd;
  text-align: left;
  /*     
  width: 100%;
  padding: 1rem;
  background-color: aliceblue;
  display: flex;
  border-radius: 1rem;
  overflow: ; */
}
/* @media (max-width: 768px) {
  body {
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1530765942818-4a6330a2a7a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    min-height: 100vh;
  }
  .card {
    width: 50%;
  }
  .title {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .forecast {
    width: 100%;
  }
  .forecast div {
    width: 95%;
  }
} */
